all {
	background-color: white;
	foreground-color: grey;
	text-color: black;
	border-color: black;
	draw-border: false;
}

panels {
	background-color: #dddddd;
}

textfields {
	background-color: #ffffff;
	draw-border: true;
}

labels {
	background-color: #00000000;
}

buttons {
	background-color: #006600;
	foreground-color: #009900;
	draw-border: true;
}

lists {
	list-color: #aaaaaa;
	draw-border: true;
}

progressbars {
	draw-border: true;
	foreground-color: #0000aa;
}

slider {
	draw-border: true;
	foreground-color: #0000aa;
}

windows {
	draw-border: true;
}

windows.labels {
	background-color: #0088dd;
}

multiline {
	background-color: #ffffff;
	draw-border: true;
}