all {
	background-color: #222222;
	foreground-color: white;
	text-color: white;
	border-color: white;
	draw-border: false;
	font: Courier New plain 20;
}

windows {
	draw-border: true;
}

panels {
	background-color: #222222;
	texture: "asset.themes.dark.panel.png";
}

textfields {
	draw-border: true;
}

labels {
	background-color:#00000000;
}

buttons {
	background-color: #0000aa;
	foreground-color: #0000ff;
	draw-border: true;
}

lists {
	list-color: #aaaaaa;
	draw-border: true;
}

progressbars, slider {
	draw-border: true;
	foreground-color: #000088;
	background-color: #aaaaaa;
}

windows.titlebar {
	background-color: black;
}

windows.panels {
	texture:none;
}

multiline {
	draw-border: true;
}

multiline.slider, lists.slider {
	background-color: white;
}

checkboxes, radiobuttons {
	background-color:#00000000;
	foreground-color:#00000000;
	draw-border:false;
}

checkboxes {
	texture-selected: "asset.themes.dark.checkbox_checked.png";
	texture-unselected: "asset.themes.dark.checkbox_unchecked.png";
}

radiobuttons {
	texture-selected: "asset.themes.dark.radiobutton_selected.png";
	texture-unselected: "asset.themes.dark.radiobutton_unselected.png";
}

tab {
	texture: "asset.themes.dark.tab.png";
	foreground-color: green;
}