all {
	background-color: #222222;
	foreground-color: white;
	text-color: white;
	border-color: white;
	draw-border: false;
}

panels {
	background-color: #222222;
	texture: "asset.themes.dark.panel.png";
}

textfields {
	draw-border: true;
}

labels {
	background-color:#00000000;
}

buttons {
	background-color: #0000aa;
	foreground-color: #0000ff;
	draw-border: true;
}

lists {
	list-color: #aaaaaa;
	draw-border: true;
}

progressbars, slider {
	draw-border: true;
	foreground-color: #000088;
}

windows {
	draw-border: true;
}

windows.labels {
	background-color: black;
}

windows.panels {
	texture:none;
}

multiline {
	draw-border: true;
}

multiline.slider, lists.slider {
	background-color: darkgrey;
}

checkboxes {
	background-color:#00000000;
	foreground-color:#00000000;
	checkbox-checked: "asset.themes.dark.checkbox_checked.png";
	checkbox-unchecked: "asset.themes.dark.checkbox_unchecked.png";
	draw-border:false;
}